h1 {
    background-color: white;
}

h2 {
    background-color: white;
}

h3 {
    background-color: white;
}

h4 {
    background-color: white;
}

h5 {
    background-color: white;
}

h6 {
    background-color: white;
}

p {
    background-color: white;
}

a {
    background-color: white;
}

div.tiles {
    background-color: white;
}

div.menu {
    background-color: white;
}

div.tile {
    background-color: white;
}

h6.footer {
    background-color: white;
}